h1 {
  /*font-size: 100%;*/
  font-size: 24pt;
}

h1, div {
    padding: 10px;
    /* margin: 10px; */
}

body {
  background-image: url("../images/fightingirishbackground.jpg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 35%;
  background-position-y: 0;
}

.container {
  border: 1px solid black;
  width: 400px;
  position: absolute;
  top: 25%;
  left: 25%;
}